.btn:focus, .refresh-btn:focus{
  outline: 0 !important;
}

#thumbId {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#thumbId:hover {opacity: 0.7;}

html,
body {
  height: 100%;
  background-color: rgb(184, 187, 189);
  background-image: url("../images/manchester.jpg");
}

body {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.progress-bar-purple {
  background-color: #52347c;
}

.row {
  margin-top: 80px;
}

.refresh-btn {
  color: #ffffff;
  background-color: #52347c;
  border: none;
}

.refresh-btn:hover,
.refresh-btn:focus,
.refresh-btn:active,
.refresh-btn.active {
  color: #ffffff;
  background-color: #52347c;
  border: none;
}

h5 {
  padding-top: 5px;
  padding-bottom: 0px;
  color: #B8BDC1;
}

h4 {
  padding-bottom: 30px;
  color: #B8BDC1;
}

.glyphicon:hover,
.glyphicon:active,
.glyphicon:focus
{
  font-size: 2em;
  color: #52347c;
}

.glyphicon
{
  font-size: 2em;
  color: #B8BDC1;
}

h2 {
  margin-top: 15px;
  color: #68757E;
}

.panel {
  padding-top: 20px;
  padding-bottom: 20px;
}

#upload-input {
  display: none;
}

@media (min-width: 768px) {
  .main-container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 450px;
  }
}


h1 {
  text-align: center;
  font-family: arial;
  color: #5a5a5a;
}

span {
  font-family: arial;
  font-size: 14px;
  color: #5a5a5a;
  text-align: center;
}

img {
  margin: 3px;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2); 
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}